* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: lightgray;
  margin: 0;
}
#main {
  margin: 0 auto;
  width:  80%;
  border: 1px black dashed;
}
img {
  border: 0px;
  margin: 10px;
  padding: 0px;
  width: 100px;
}
p {
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  margin: 20px 0px;
  text-align: center;
  background-color: white;
  padding: 3px 0;
}
.clear {
  clear: both;
}